.features .features-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 15px;
}

.features .features-content .feature:nth-child(1) h6{
    background: #fddde4;
}
.features .features-content .feature:nth-child(2) h6{
    background: #cdebbc;
}
.features .features-content .feature:nth-child(3) h6{
    background: #d1e8f2;
}
.features .features-content .feature:nth-child(4) h6{
    background: #cdd4f8;
}
.features .features-content .feature:nth-child(5) h6{
    background: #f6dbf6;
}
.features .features-content .feature:nth-child(6) h6{
    background: #fff2e5;
}